@model Web.Models.Default.RealtorSearchViewModel
@{
    ViewBag.Title = "Realtor";
}
<form method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(x => x.Miles)
        @Html.TextBoxFor(x => x.Miles, new { type = "number", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Miles)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PagesToCapture)
        @Html.TextBoxFor(x => x.PagesToCapture, new { type = "number", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PagesToCapture)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ZipCode)
        @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ZipCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.MaxPrice)
        @Html.TextBoxFor(x => x.MaxPrice, new { type = "number", @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MaxPrice)
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<h2>Clean Up Data</h2>
<form method="post" action="@Url.Action("CleanUpData")">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Do It</button>
</form>
