@model Web.Models.RentBits.RentBitsLoadViewModel
@{
    ViewBag.Title = "Rent Bits";
}
<form method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(x => x.ZipCode)
        @Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ZipCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Location)
        @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Location)
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
<h2>Load Missing Rent Bits Data</h2>
<form method="post" action="@Url.Action("GetDataForCurrentDbZips")">
    @Html.AntiForgeryToken()
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>